$fontNunito: 'Nunito', sans-serif;


$primary: #000000;
$bars: #128004;

$text: #D8D8D8;

$white: #fff;
$black: #000;
$gray: #8e8e91;

// Z-indexes
$base: 1;
$header: 10;
$tabEpisode: 15;
$tabMain: 20;